body {
  font-family: Verdana;
  text-align: center;
  background-image: url("https://www.alura.com.br/assets/img/imersoes/dev-2021/dia-04-aluraflix-e-filmes.png");
  background-color: #000000;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

#listaFilmes img {
  margin: 10px;
  max-height: 250px;
  margin-bottom:12px;
  border-radius:6px;
}

#listaFilmes img:hover{
  transform: scale(1.2);
  transition-duration: 400ms;
}

#listaFilmes a {
  display: inline-flex;
  flex-direction: column;
  height: 250px;
  width: 180px;
  margin: 1em 1em;
  font-size: 16px;
  color: white;
  text-decoration: none;
 
}

.form-wrapper {
  margin: 0 0 15px;
}

.form-wrapper input {
  display: block;
  margin: 15px auto;
  border-radius: 5px;
  padding: 10px 15px;
}

#mensagemDeErro{
  color: #331ef4;
  font-weight: bold;
}

.form-wrapper button {
  border: 0;
  color: #ffffff;
  background: #331ef4;
  font-weight: bold;
  padding: 15px 20px;
  font-size: 16px;
  border-radius: 12px;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.button span {
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}